<h1>Actual Game</h1> 
<div class="row"> 
<div class="col"> 
<h3 class="text-center">Player 1</h3> 
<p>Positions Selected</p>
<p id="positions"></p>

<table class="gameboard">
  <tr>
  <th></th>
  <th>A</th>
  <th>B</th>
  <th>C</th>
  <th>D</th>
  <th>E</th>
  <th>F</th>
  <th>G</th>
  <th>H</th>
  <th>I</th>
  <th>J</th>
  </tr>
  <tr>
  <th>1</th>
  <td data-position="A1"></td>
  <td data-position="B1"></td>
  <td data-position="C1"></td>
  <td data-position="D1"></td>
  <td data-position="E1"></td>
  <td data-position="F1"></td>
  <td data-position="G1"></td>
  <td data-position="H1"></td>
  <td data-position="I1"></td>
  <td data-position="J1"></td>
  </tr>
  <tr>
  <th>2</th>
  <td data-position="A2"></td>
  <td data-position="B2"></td>
  <td data-position="C2"></td>
  <td data-position="D2"></td>
  <td data-position="E2"></td>
  <td data-position="F2"></td>
  <td data-position="G2"></td>
  <td data-position="H2"></td>
  <td data-position="I2"></td>
  <td data-position="J2"></td>
  </tr>
  <tr>
  <th>3</th>
  <td data-position="A3"></td>
  <td data-position="B3"></td>
  <td data-position="C3"></td>
  <td data-position="D3"></td>
  <td data-position="E3"></td>
  <td data-position="F3"></td>
  <td data-position="G3"></td>
  <td data-position="H3"></td>
  <td data-position="I3"></td>
  <td data-position="J3"></td>
  </tr>
  <tr>
  <th>4</th>
  <td data-position="A4"></td>
  <td data-position="B4"></td>
  <td data-position="C4"></td>
  <td data-position="D4"></td>
  <td data-position="E4"></td>
  <td data-position="F4"></td>
  <td data-position="G4"></td>
  <td data-position="H4"></td>
  <td data-position="I4"></td>
  <td data-position="J4"></td>
  </tr>
  <tr>
  <th>5</th>
  <td data-position="A5"></td>
  <td data-position="B5"></td>
  <td data-position="C5"></td>
  <td data-position="D5"></td>
  <td data-position="E5"></td>
  <td data-position="F5"></td>
  <td data-position="G5"></td>
  <td data-position="H5"></td>
  <td data-position="I5"></td>
  <td data-position="J5"></td>
  </tr>
  <tr>
  <th>6</th>
  <td data-position="A6"></td>
  <td data-position="B6"></td>
  <td data-position="C6"></td>
  <td data-position="D6"></td>
  <td data-position="E6"></td>
  <td data-position="F6"></td>
  <td data-position="G6"></td>
  <td data-position="H6"></td>
  <td data-position="I6"></td>
  <td data-position="J6"></td>
  </tr>
  <tr>
  <th>7</th>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
  <th>8</th>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
  <th>9</th>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
  <th>10</th>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  </tr> </table> </div> <div class="col"> <h3 class="text-center">Player 2</h3> <table class="gameboard">
  <tr>
  <th></th>
  <th>A</th>
  <th>B</th>
  <th>C</th>
  <th>D</th>
  <th>E</th>
  <th>F</th>
  <th>G</th>
  <th>H</th>
  <th>I</th>
  <th>J</th>
  </tr>
  <tr>
  <th>1</th>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
  <th>2</th>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
  <th>3</th>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
  <th>4</th>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
  <th>5</th>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
  <th>6</th>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
  <th>7</th>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
  <th>8</th>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
  <th>9</th>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
  <th>10</th>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  </tr> </table> </div> </div>

<script>

  let cell = document.getElementsByTagName('td');
  let position = document.getElementById('positions');

  [].forEach.call(cell, (element)=>{
    element.addEventListener('click', ()=>{
      element.style.backgroundColor = 'red';
      element.className += " selected";
      positionSelected = element.getAttribute('data-position');
      position.innerHTML += " " + positionSelected;
    }); 
 
  }); 

</script>
